$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}

.cart-no{
    position: absolute;
    min-height: em(25px);
    min-width: em(25px);
    border-radius: 50%;
    font-size: em(16px);
    background: blue;
    color: white;
    text-align: center;
    top: em(-12px);
    right: em(32px);
}

a {
  text-decoration: none;
  color: #343a40;

  &.active {
     color: orange;
  }
}

.logo {
  cursor: pointer;

  &:focus{
    outline: none;
  }
}